.header{
  height:85vh;
  background-image:linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.8),
                  rgba($color-primary-dark, 0.8)),
  url("https://i.postimg.cc/yxqDbwR3/downloadfiles-wallpapers-1920-1200-the-vineyard-wallpaper-other-nature-1111.png");
  background-size:cover;
  background-position: top;
  position: relative;
  -webkit-clip-path:polygon(0 0,100% 0,100% 76vh,0 100%);
  clip-path:polygon(0 0,100% 0,100% 76vh,0 100%);

  @supports (clip-path: polygon(0 0)) or  (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path:polygon(0 0,100% 0,100% 76vh,0 100%);
    clip-path:polygon(0 0,100% 0,100% 76vh,0 100%);
    height:95vh;
  }

  @media (min-resolution: 192dpi) and (min-width: 37.5em) ,
         (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
         (min-width: 125em){
    background-image:linear-gradient(
                    to right bottom,
                    rgba($color-primary-dark, 0.8),
                    rgba($color-primary-light, 0.8)),
    url("https://i.postimg.cc/02mq1qqm/pexels-simon-clayton-1656579.jpg");
  }

  @include respond(phone){
    -webkit-clip-path:polygon(0 0,100% 0,100% 85vh,0 100%);
    clip-path:polygon(0 0,100% 0,100% 85vh,0 100%);
  }

  &__logo-box{
    position: absolute;
    top:1.7rem;
    left:1.7rem;
  }

  &__logo{
    height:10.8rem;
  }

  &__text-box{
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50% ,-50%);
    text-align: center;
  }
}
